{% extends "layout.twig" %}
{% block title %} Favoritos - uoMusic {% endblock %}
{% block main_container %}
<!-- Favoritos -->
<h2>Mis favoritos</h2>
 <div class="row">
 <!-- Inicio del Bloque canción -->
 {% for favorite in favorites %}
 <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
 <div style="width:200px">
 <a href="/songs/{{favorite.song_id}}">
 <img src="/covers/{{favorite.song_id}}.png" alt="logo"/>
 <!-- http://www.socicon.com/generator.php -->
 <div>{{ favorite.title }} </div>
 <div class="text-right">{{ favorite.price }} €</div>
 </a>
 <form method="get" action="/songs/favorites/delete/{{favorite.song_id}}" class="text-right">
  <button type="submit" class="btn btn-xs btn-default">Eliminar de favoritos</button>
 </form>
 </div>
 </div>
 {% endfor %}
 <!-- Fin del Bloque canción -->
 </div>
 <div class="row text-right">
  <strong>Total: {{ total }} €</strong>
 </div>
{% endblock %}
