{% extends "layout.twig" %}

{% block title %} Detalles de cancion {% endblock %}

{% block main_container %}
    <div class="row">
        <div class="media col-xs-10">
            <div class="media-left media-middle">
                <img class="media-object" src="/covers/{{ song._id }}.png">
            </div>
            <div class="media-body">
                <h2>{{ song.title }}</h2>
                <p>{{ song.author }}</p>
                <p>{{ song.kind }}</p>
                {% if isAuthor or hasPurchased %}
                    <audio controls>
                        <source src="/audios/{{ song._id }}.mp3" type="audio/mpeg">
                    </audio>
                {% else %}
                    <form class="form-horizontal" method="post" action="/songs/buy/{{ song._id }}">
                        <button type="submit" class="btn btn-primary">Comprar: {{ song.price }}€</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

